
/*
 * Contenidos principales
*/

html, body
{
    width: 100%; height: 100%;
    
    margin: 0 0 auto; padding: 0;
}


.container-fluid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;


    height: 100%; width: inherit;


}


/*
 * Titulo/header
*/


.titulo{
    height:150px;
    background-color: powderblue;
}



/*
 * Cuerpo de la pagina
*/

.informacion{
    flex: 1;
    text-align: center;
}

.scrollbar-personalizada {
    position: relative;
    height: 300px;
    overflow: auto;
    }

.tabla-disposicion {
        display: block;
}




